/.vs/MagicNumbers/DesignTimeBuild
/.vs/MagicNumbers/FileContentIndex/11d64938-2399-464c-866d-1577c73d70de.vsidx
/.vs/MagicNumbers/FileContentIndex/read.lock
/.vs/MagicNumbers/v17/.futdcache.v2
/.vs/MagicNumbers/v17/.suo
/.vs/ProjectEvaluation/magicnumbers.metadata.v3
/.vs/ProjectEvaluation/magicnumbers.projects.v3
/MagicNumbers/bin/Debug/net6.0/MagicNumbers.deps.json
/MagicNumbers/bin/Debug/net6.0/MagicNumbers.dll
/MagicNumbers/bin/Debug/net6.0/MagicNumbers.exe
/MagicNumbers/bin/Debug/net6.0/MagicNumbers.pdb
/MagicNumbers/bin/Debug/net6.0/MagicNumbers.runtimeconfig.json
/MagicNumbers/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.AssemblyInfo.cs
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.AssemblyInfoInputs.cache
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.GeneratedMSBuildEditorConfig.editorconfig
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.GlobalUsings.g.cs
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.assets.cache
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.csproj.AssemblyReference.cache
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.csproj.BuildWithSkipAnalyzers
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.csproj.CoreCompileInputs.cache
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.csproj.FileListAbsolute.txt
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.dll
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.genruntimeconfig.cache
/MagicNumbers/obj/Debug/net6.0/MagicNumbers.pdb
/MagicNumbers/obj/Debug/net6.0/_IsIncrementalBuild
/MagicNumbers/obj/Debug/net6.0/apphost.exe
/MagicNumbers/obj/Debug/net6.0/ref/MagicNumbers.dll
/MagicNumbers/obj/Debug/net6.0/refint/MagicNumbers.dll
/MagicNumbers/obj/MagicNumbers.csproj.nuget.dgspec.json
/MagicNumbers/obj/MagicNumbers.csproj.nuget.g.props
/MagicNumbers/obj/MagicNumbers.csproj.nuget.g.targets
/MagicNumbers/obj/project.assets.json
/MagicNumbers/obj/project.nuget.cache
